/*** F8 by Dustin Clark ***/

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	box-shadow: 0 0 0;
}

body, html {
	height: 100%;
}

img {
	height: auto;
	max-width: 100%;
	margin: 0 auto;
}

a {
	text-decoration: none;
}





/*** JUMBTRON ***/
.jumbo {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}





/*** Grid ***/
.grid {
	width: 100%;
}





/*** ROWS ***/
.row {
	flex-basis: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}





/* COLUMNS */
[class*='col-'] {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}




/*** MEDIA QUERIES ***/

/* small screens*/
@media (min-width: 300px) {
	.col-10,
	.col-9,
	.col-8,
	.col-7,
	.col-6,
	.col-5,
	.col-4,
	.col-3,
	.col-2,
	.col-1,
	.col-third,
	.col-fourth,
	.col-sixth { 
		flex-basis: 100%; 
	}

	[class*='col-'] {
		margin: 1% 0;
	}
	
	.nav-wrapper {
		display: flex;
		flex-direction: column;
	}
	
	.nav-wrapper img{
		display: none;
	}
	
	.nav-list {
		display: flex;
		list-style: none;
		flex-direction: column;
	}
	
	.nav-item a {
		display: block;
	}
	
	.btn {
		padding: .7rem;
	}
	
	.btn:hover {
		opacity: .7;
		padding: .7rem;
	}
	
	input[type='button'].ghost-btn { 
		border: 1px #ffffff solid; 
		margin: 1rem;
	}
	
	input[type='button'].ghost-dark-btn { 
		border: 1px #000000 solid;
		margin: 1rem;
	}
	
	input[type='button'].default-btn { 
		border: 1px #636363 solid;
		margin: 1rem;
	}

	.ghost-btn {
		color: #ffffff;
		background-color: transparent;
	}

	.ghost-dark-btn {
		color: #000000;
		background-color: transparent;
	}

	.default-btn {
		color: #101010;
		background-color: #fafafa;
	}
}

@media (min-width: 500px) {
	.jumbo h1 { font-size: 3.5rem; }
	.jumbo p { font-size: 1.5rem; }
}

/* medium screens */
@media (min-width: 768px) {
	.col-10 { flex: 1 0 98% }
	.col-third { flex: 1 0 31.33%; }
	.col-sixth { flex: 1 0 31.33%; }
	
	.col-9,
	.col-8,
	.col-7,
	.col-6,
	.col-5,
	.col-4,
	.col-3,
	.col-2,
	.col-1,
	.col-fourth {
		flex: 1 0 48%;	
	}
	
	[class*='col-'] {
		margin: 1%;
	}
	
	.jumbo h1 { font-size: 5rem; }
	.jumbo p { font-size: 2.5rem; }
	
	.nav-wrapper {
		flex-direction: row;
		justify-content: space-between;
	}
	
	.nav-wrapper img{
		display: inherit;
	}
	
	.nav-list {
		flex-direction: row;
	}
	
	.ghost-btn { 
		border: 1px #ffffff solid; 
		margin: 1rem;
	}
	
	.ghost-dark-btn { 
		border: 1px #000000 solid;
		margin: 1rem;
	}
	
	.default-btn { 
		border: 1px #636363 solid;
		margin: 1rem;
	}
}

/* large screens */
@media (min-width: 1100px) {
	.col-10 { flex: 1 0 98%; }
	.col-9 { flex: 1 0 88%; }
	.col-8 { flex: 1 0 78%; }
	.col-7 { flex: 1 0 68%; }
	.col-6 { flex: 1 0 58%; }
	.col-5 { flex: 1 0 48%; }
	.col-4 { flex: 1 0 38%; }
	.col-3 { flex: 1 0 28%; }
	.col-2 { flex: 1 0 18%; }
	.col-1 { flex: 1 0 8%; }
	.col-third { flex: 1 0 31.33%; }
	.col-fourth { flex: 1 0 23%; }
	.col-sixth { flex: 1 0 14.666%; }
	
	.jumbo h1 { font-size: 6rem; }
	.jumbo p { font-size: 3.5rem; }
}





/*** STYLES - MISC ***/

.center {
	justify-content: center;
	align-content: center;
	text-align: center;
}

.right {
	justify-content: flex-end;
}

.self-right {
	align-self: flex-end;
}

.left {
	justify-content: flex-start;
}

.self-left {
	align-self: flex-start;
}

/* takes away gutters - ROW class */
.noGuts > [class*='col-'] { 
	margin: 0;
}

h1 { font-size: 2.2rem;}
h2 { font-size: 2rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.2rem; }