*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: 'Ubuntu', sans-serif;
}


nav {
	background-color: #050505;
}

.jumbo{
	background-image: url(images/bushes-dark.jpg);
	background-position: center;
	background-attachment: fixed;
	background-size: cover; 
	color: #fafafa;
	text-shadow: 2px 3px #000000;
}

@media (min-width: 300px) {
	#avatar {
		height: 100px;
		width: 100px;
		border-radius: 50%;
		margin-top: .5rem;
	}
}

@media (min-width: 700px) {
	#avatar {
		height: 150px;
		width: 150px;
	}
}

footer {
	text-align: center;
	padding: 20px 0px;
	background: #050505;
	color: #fafafa;
}