*{
	padding: 0px;
	margin: 0 auto;
}

html, body {
	height: 100%;
}

#container {
	min-height: 100%;
	background-image: url(images/bushes-dark.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover	
}

/* navigation rules */

#nav {
	padding: 20px 0px;
	position: fixed;
	width: 100%;
}

.nav-content {
	font-family: arial;
	font-size: 20px;
	text-align: center;
}

.nav-content li {
	display: inline;
}

.nav-content a {
	text-decoration: none;
	color: #fafafa;
	margin: 20px 20px 20px 20px;
	padding: 12px;
	border: 1px #fafafa solid; 
	border-radius: 5px;
}

.nav-content a:hover {
	opacity: .8;
}

/* jumbo rules */
#jumbotron {
	padding-top: 200px;
	padding-left: 50px;
	font-family: arial;
	color: #fafafa;
}
#jumbotron h1 {
	font-size: 120px;
	text-shadow: 2px 1px #000000;
}
#jumbotron p {
	font-size: 48px;
	padding-left: 15px;
	text-shadow: 2px 1px #000000;
}