@use "variables" as *;

@mixin h100 {
  min-height: 70vh;
  min-height: 70dvh;

  @media (min-width: $xl) {
    min-height: 100vh;
    min-height: 100dvh;  
  }
}

@mixin flex-center {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin contain {
  @include h100;
  @include flex-center;

  max-width: $xl;
  margin-inline: auto;
}