//-----------------------------------------Imports & Mixins
@import "./variables";

@mixin backgroundCenter($bgImage) {
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-image: $bgImage;
}

//-----------------------------------------Main
body {
	@include backgroundCenter(url(../images/background.png));
	font-family: "Space Mono", monospace;
	color: $white;
}

.dark {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 20px;
}

.splash {
	margin-bottom: 25px;
	h1 {
		font-size: 48px;
	}
	p {
		font-size: 20px;
		border-bottom: 2px solid $white;
	}
}
